
p {
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(0, 120, 240);
}
h1 {
            font-family: 'Courier New', Courier, monospace;
            color: rgb(240, 120, 0);
    }